@import "./styles/mixins";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #04172d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;

h1 {
  @include heading(38px);
}

h2 {
  @include heading(32px);
}

h3 {
  @include heading(24px);
}

h4 {
  @include heading(20px);
}

h5 {
  @include heading(18px);
}

h6 {
  @include heading(16px);
}

@tailwind components;
@tailwind utilities;

@layer components {
  .btn-accent {
    @apply text-lg py-1 px-3 normal-case transition ease-in-out duration-300 bg-accent hover:bg-accent-dark hover:shadow-inner border-2 border-accent hover:border-accent-dark rounded-md;
  }

  .btn-accent-outline {
    @apply text-lg py-1 px-3 normal-case bg-transparent transition ease-in-out duration-300 shadow-accent text-white border-2 rounded-md border-white hover:shadow-none hover:border-accent hover:text-accent;
  }
}
